@import "tailwindcss";
html {
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}
body {
  font-family: 'IBM Plex Mono', monospace;
}

.prose {
  line-height: 1.75;
}
.prose h1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #e275db;
  /* scroll-margin-top: 6rem; */
}

.prose h2 {
  font-size: 1.875rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  /* scroll-margin-top: 6rem; */
}

.prose h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  /* scroll-margin-top: 6rem; */
}

.prose p {
  margin-bottom: 1rem;
}

.prose ul, .prose ol {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.prose li {
  margin-bottom: 0.5rem;
}

.prose strong {
  font-weight: 600;
}

.prose code {
  background-color: #f3f4f6;
  padding: 0.2rem 0.4rem;
  border-radius: 0.25rem;
  font-size: 0.875em;
}

.prose pre {
  background-color: #1f2937;
  color: #f3f4f6;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  margin: 1rem 0;
}

.prose ul {
  list-style: disc;
  padding-left: 1.5rem;
  margin: 1rem 0;
}

.prose ul li {
  margin-bottom: 0.5rem;
}